---
http_interactions:
- request:
    method: post
    uri: https://api.smtp2go.com/v3/email/send
    body:
      encoding: UTF-8
      string: '{"api_key":"testapikey","sender":"dave@example.com","to":["matt@example.com"],"subject":"smtp2go
        Ruby Client","text_body":"Test message."}'
    headers:
      Content-Type:
      - application/json
      X-Smtp2go-Api:
      - smtp2go-ruby
      X-Smtp2go-Api-Version:
      - 0.0.1
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data": {"error_code": "E_ApiResponseCodes.INVALID_IN_PAYLOAD", "error":
        "The API Key passed was not in the correct format, Please check the key is
        correct and try again, The full API key can be found in the API Keys section
        in the admin console."}, "request_id": "784af0ce-02f1-11e7-85cd-f23c91285f72"}'
  recorded_at: Tue, 07 Mar 2017 04:49:38 GMT
recorded_with: VCR 3.0.3
